<div class="c">
    <h2 mat-dialog-title>Delete recipe - {{ data.recipe.name }}</h2>
    <div class="card">
        <div class="row">
            <mat-dialog-content>
                <b>Are you sure you want to delete this recipe?</b>
            </mat-dialog-content>
        </div>
        <div class="row">
            <div class="10 col"></div>
            <div class="1 col">
                <button (click)="delete()" class="btn primary">Yes</button>
            </div>
            <div class="1 col">
                <button (click)="cancel()" class="btn">Cancel</button>
            </div>    
        </div>
    </div>
</div>
