<div class="c">
    <app-profile
      [title]="(recipe$ | async).name"
      [includeBackButton]="true"
      [backButtonCommands]="['../']">
    </app-profile>
  
    <div class="card">      
        <app-spinner *ngIf="(isLoading$ | async)" [colour]="'#333'"></app-spinner>
        <div *ngIf="!(isLoading$ | async)">
            <div class="row">
                <div class="10 col">
                    <mat-chip-list>
                        <mat-chip *ngFor="let group of (recipe$ | async).groups">{{ group.name }}</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="1 col">
                    <a [routerLink]="['../edit/', recipeId]" class="btn primary"><i class="fas fa-pencil-alt"></i></a>
                </div>
                <div class="1 col">
                    <a (click)="deleteRecipe(recipeId)" class="btn primary"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="6 col">
                </div>
                <div class="6 col">
                </div>
            </div>
            <div class="row card">
                <p>Ingredients</p>
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ingredient of (recipe$ | async).ingredients">
                            <td class="8 col">
                                {{ ingredient.name }}
                            </td>
                            <td class="2 col">
                                {{ ingredient.amount }}
                            </td>
                            <td class="2 col">
                                {{ ingredient.category.name }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  