<div class="c">
    <app-profile
      [title]="'Edit recipe'"
      [includeBackButton]="true"
      [backButtonCommands]="['../../']">
    </app-profile>
  
    <div class="card">  
      <app-spinner *ngIf="isSaving$ | async"></app-spinner>
      <form [formGroup]="form" (ngSubmit)=submitForm() *ngIf="!(isSaving$ | async)">
        <div class="row">
            <div class="11 col"></div>
            <div class="1 col"><button class="btn primary save-button"><i class="fas fa-save"></i></button></div>
        </div>
        <div class="row">
            <div class="6 col">
                Name
                <input class="card w-100" id="name" formControlName="name" type="text" placeholder="Name">
            </div>
            <div class="6 col">
            </div>
        </div>
        <div class="row">
            <app-recipe-ingredients
                [recipe]="recipe$ | async"
                [form]="form"></app-recipe-ingredients>
        </div>
      </form>
    </div>
  </div>
  