.cart-item{
    border: 1px solid white;
    margin: 4px;
}

.cart-item-ingredient-list {
    margin-left: 10px;
}

.cart-item-actions {
    float: right;
    margin: 0;
}

.cart-item-action {
    padding-left: 10px;
}
