@import "../../main.scss";

.cart-toggle {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0;
}

.cart-toggle > a {
    color: $background-alt;
    color: #fff;
    font-size: 1em;
}

.cart {
    height: 1000px;
    width: 0px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: $background-alt; 
    color: $text-main;
    overflow-x: hidden; 
    transition: 0.5s; 
    margin-top: -0.5em;
}

.cart-visible {
    width: 250px;
}

.cart-closebutton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.cart-content {
    margin: 0.5em;
    width: 230px;
}

.grouping-mode-option.mat-menu-item.selected {
    background-color: $background;
}

.cart-item-wrapper {
    padding: 0;
}