<div class="cart-toggle">
    <a (click)="toggleCart()" class="btn"><i class="fas fa-shopping-cart"></i></a>
</div>
<div class="cart" [ngClass]="{ 'cart-visible': showCart }">
    <a (click)="toggleCart()" class="cart-closebutton">&times;</a>
    <div class="cart-content">
        <h4>Cart</h4>
        <hr>
        <div>
            <button [matMenuTriggerFor]="menu" class="btn"><i class="fas fa-list"></i></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changeCartItemGroupingMode('recipe')">Group by recipe</button>
                <button mat-menu-item (click)="changeCartItemGroupingMode('ingredient category')">Group by ingredient category</button>
            </mat-menu>
            <button *ngIf="(cartDisplayItems$ | async)?.length > 0" (click)="clearCart()" class="btn">Clear</button>
        </div>
        <div *ngIf="groupingMode == 'recipe'">
            <div *ngFor="let displayItem of cartDisplayItems$ | async" class="c">
                <b>{{ displayItem.recipe.name }}</b>
                <ul>
                    <li *ngFor="let ingredient of displayItem.ingredients">
                        {{ ingredient.name}} | {{ ingredient.amount }}
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="groupingMode == 'ingredient category'">
            <div *ngFor="let displayItem of cartDisplayItems$ | async" class="c">
                <b>{{ displayItem.category.name }}</b>
                <ul>
                    <li *ngFor="let ingredient of displayItem.ingredients">
                        {{ ingredient.name}} | {{ ingredient.amount }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>