<div class="c">
    <app-profile
      [title]="'New recipe'"
      [includeBackButton]="true"
      [backButtonCommands]="['../']">
    </app-profile>
  
    <div class="card">  
      <app-spinner *ngIf="isSaving$ | async"></app-spinner>
      <form [formGroup]="form" (ngSubmit)=submitForm()>
        <div class="row">
            <div class="11 col"></div>
            <div class="1 col"><button class="btn primary">Save</button></div>
        </div>
        <div class="row">
            <div class="12 col">
                Name
                <input class="card w-100" id="name" formControlName="name" type="text" placeholder="Name">
            </div>
        </div>
        <div class="row">
            <div class="12 col">
                <small><b>Once you've given the recipe a name, you will be able to add ingredients and instructions.</b></small>
            </div>
        </div>
      </form>
    </div>
  </div>
  