<div class="c">
  <div class="row">
    <div class="9 col">
      <h3>Recipes</h3>
    </div>
    <div class="3 col">
      <app-profile></app-profile>
    </div>
  </div>

  <div class="card">
    <div class="row">
        <div class="11 col"></div>
        <div class="1 col">
          <a [routerLink]="['new']" class="btn primary">New</a>
        </div>
    </div>

    <table class="w-100">
      <thead>
          <tr>
              <th>Name</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td class="11 col">{{ recipe.name }}</td>
          <td class="1 col"><a [routerLink]="['edit', recipe.id]" class="btn" >Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
