@import "../../../main.scss";

.new-button {
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    margin-right: 4em;
}

.recipe-group-separator {
    background-color: #e0e0e0;
    line-height: 0;
}

.recipe-group-separator > td {
    border-bottom: solid #e0e0e0;
    border-top: solid #e0e0e0;
}

.list-filter-option {
    margin-left: 10px;
}

.recipe-list-item-title {
    color: $text-main;
}

.recipe-list-item-title:hover {
    color: $highlight-alt;
}

.view-mode-option.selected {
    background-color: $background;
}

.recipe-list-row {
    transition: 0.3s ease-in-out;
}

.recipe-list-row:hover {
    background-color: $background-alt;
}